.movie {
    text-decoration: none;
    color: white;
    position: relative;
    transition: top 200ms;

    }
    .thumbnail {
        width: 100%;
        height: 100px;
        background-color: white;
    }

    .title {
        margin: 0;
    }