.header {
    padding: 20px 40px;
        .logoLink {
            color: red;
            text-decoration: none;
            font-size: 32px;
            font-weight: 700;
        
    }
    .link{
        text-decoration: none;
        text-align: left;
    }
}